 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Playball&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common Styles */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none; 
    font-family: 'Playfair Display', serif;

};

html {
    font-size: 62.5%;
}

.center {
    display: flex;
    justify-content: center;
    
}
/* End of Common Styles */
/* Mouse Circle*/
.mouse-circle,
.mouse-dot{
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform:translate(-50%, -50%);
    opacity: 0;
}
.mouse-circle {
width: 4rem;
height: 4rem;
border:0.2rem solid #19c7e2;
animation: mouseCircleAnim 10s infinite linear;

}

@keyframes mouseCircleAnim {
    0% {
        width: 4rem;
        height: 4rem;
    }
    25% {
        width: 6rem;
        height: 6rem;
    }
    35% {
        width: 3rem;
        height: 3rem;
    }
    70% {
        width: 6rem;
        height: 6rem;
    }
    100% {
        width: 4rem;
        height: 4rem;
    }
}
.mouse-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(2, 2, 29);
    animation: mouseDotAnim 10s infinite linear;
}
@keyframes mouseDotAnim {
    0% {
        width: 0.5rem;
        height: 0.5rem;
    }
    55% {
        width: 1.5rem;
        height: 1.5rem;
    }
    
    
    100% {
        width: 0.5rem;
        height: 0.5rem;
    }
}
/* End of Mouse Circle*/
/*Page BG*/
.page-bg {
    position: fixed;
    width: 100%;
    height: 100vh; 
    background: url(../images/list.jpg) center no-repeat;
    background-size: cover;
    
}
/*End of Page BG*/
/*Section 1*/
.section-1 {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    
}
/* Logo */
.logo {
    position: absolute;
    top: 2rem;
    left: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(3, 1, 54);
}
/* End of Logo */

/* Animated Circles */
.main-circle {
    /* width: 55rem;
    height: 55rem; */
    position: absolute;
    overflow: hidden;
    border-radius: 50%;

}
.main-circle img {
    mix-blend-mode: color-dodge;
  
}
/*Featured Text*/
.featured-text {
    position: fixed;
    bottom: 50%;

    top: 40rem;
    left: 5rem;
    /* font-size: 2rem; */
    text-transform:uppercase;
    color: #13cced;
    font-size: 5rem;
    /* color: #5cbcf8; */
    /* width: 5; */
}
/*End of Featured Text*/

/*Main button*/
.main-btn{
    position: absolute;
    bottom:6rem;
    width: 7rem;
    height: 7rem;
    background-color: rgb(8, 6, 49);
    border-radius: 50%;
    border: 0.2rem dotted #13cced;
    padding: 0.1rem;

}
.main-btn-content {
    width: 100%;
    height: 100%;
    border: 0.2rem dotted #2092d0;
    border-radius: 50%;
    transform: rotate(40deg);
}
.main-btn-line {
    position:absolute;
    top:1.5rem;
    width: 1.5rem;
    height: 0.3rem;
    border: 0.1rem solid rgb(51, 195, 247);

 }

 .main-btn-line:nth-child(1) {
 transform: rotateZ(-45deg) translateX(-0.35rem);
 transform-origin: left center;   
 border-right: none;

 }

 .main-btn-line:nth-child(2) {
    transform: rotateZ(45deg) translateX(0.35rem);
    transform-origin: right center;
    border-left: none;   
    }
  .main-btn-line:nth-child(3) {
        transform: rotateZ(90deg) translateX(0.3rem);
        border-left: none;  
  }

  .main-btn span {
    position:absolute;
    bottom: 2rem;
    color: rgb(30, 169, 204);
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
/* .main-btn-line {
    position:absolute;
    top: 4rem;
    width: 3rem;
    height: 0.5rem;
    border: 0.1rem solid rgb(67, 191, 222);
}

.main-btn-line:nth-child(1){
     transform: rotateZ(-45deg) translateX(-0.65rem);
     transform-origin: left center;
     border-right: none; 
} 

.main-btn-line:nth-child(2){
    transform: rotateZ(45deg) translateX(0.65rem);
    transform-origin: right center;
    border-left: none;
}; 

.main-btn-line:nth-child(3){
    transform: rotateZ(90deg) translateX(0.5rem);
    border-left: none;
}; */
/*Main button*/
/* End of Animated Circles */
/*Section 1*/